
<section class="game_select">
    <div class="game_select_title">
        <div class="game_select_title_desc">
            <h2><em>Top Tier Trivia! a guessing game where you try to guess the most popular answers to questions!</em></h2>
        </div>
        <div class="game_select_title_text">
            <h2>Please Choose A Category: </h2>
        </div>
    </div>

    <div id="game_select_options">
    
        {{#each game_options}}
            {{> gameListing}}
        {{/each}}

    </div>

</section>
