<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Top Tier Trivia!</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Rubik:wght@600&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">
        <script src="{{script}}" defer></script>

        <script>data_layer=[]</script>
    </head>

    <body>
        <header>
            <div class="header_image_container">
                <img src="/data/images/t.png" alt="Top Tier Trivia! Logo">
            </div>
            <h1 class="header_text">Top Tier Trivia!</h1>
        </header>

        <main id="main_container">
            {{{body}}}
        </main>

    </body>
</html>
