/* Color scheme/style */
:root
{
    --primarylight: #CDE2DC;
    --primarycolor: #309179;
    --primarydark: #005741;
    
    --secondarylight: #E497BD;
    --secondarycolor: #CE6196;
    --secondarydark: #AE3671;
    
    --highlightlight: #FFD566;
    --highlightcolor: #FFCE4B;
    --highlightdark: #CFA32D;

    --modaltransparent: #1d2a4d5e;
    --darkest: #050810;
}

/* Default settings */
html
{
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: 18px;

    /* Universal background */
    background-color: var(--primarylight);
}
h1, h2, h3, button
{
    font-family: 'Rubik', 'Helvetica', sans-serif;
}
body
{
    /* Remove padding on sides */
    margin: 0px;
    padding: 0px;
}
a
{
    /* Remove defaults */
    color: inherit;
    text-decoration: unset;
    text-decoration-line: unset;
}
.hidden
{
    /* Hidden means don't display. */
    display: none;
    visibility: hidden;
}

/* Page header */
header
{
    /* Size */
    width: 100vw;
    padding: 15px 0px;
    margin: 0px;

    /* Bottom Border */
    border-bottom: 3px solid var(--darkest);

    /* Content Spacing */
    /* display: flex;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    align-content: baseline;

    /* Background */
    color: var(--darkest);
    background-color: var(--secondarylight);
}
header h1
{
    align-self: center;
    margin: 0px;
    font-size: 100px;
}

/* Main contents */
#main_container
{
    /* Positioning/sizing */
    padding: 25px 20px 20px 40px;
    height: max-content;
}


/* Game selection screen */
.game_select
{
    display: block;
}
.game_select_title_desc
{
    /* text-align: center; */
    flex-direction: row;
}
#game_select_options
{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    align-items: flex-start; */
    flex-direction: column; /* Changed to column for a single column layout */
    align-items: center; /* Center children horizontally */
    width: 100%; /* Set the width to 70% of the viewport */
    margin: 0 auto; /* Center the container on the screen */
}
.option_contents
{
    width: 100%; /* Make the children occupy the full width of the container */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    margin: 10px 0; /* Adjust margin for vertical spacing */

    display: block;
    position: relative;

    /* Sizing/spacing options */
    max-width: 600px;
    min-width: 250px;
    padding: 15px;
    margin: 10px 15px 5px 0px;

    /* Border/background */
    border: 2px groove var(--darkest);
    border-radius: 4px;
    background-color: var(--secondarylight);

    /* Flex options */
    flex-shrink: 1;
    flex-grow: 1;

    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: start; /* Align items to the start of the box */
    gap: 10px; /* Add some space between the image and the text */

}

.option_contents:hover {
    transform: translateY(-5px);
 }

.option_contents_image_container {
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.option_contents a
{
    /* Make the links look like links*/
    color: var(--primarydark);
    text-decoration-line: underline;
}
.option_info_button
{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.option_info_container
{
    /* Positioning, top right by */
    position: absolute;
    bottom: 100%;
    left: 100%;
}
.option_info_contents
{
    position: relative;
    right: 50%;

    /* Spacing/Sizing */
    margin: 5px;
    padding: 12px 25px;
    width: max-content;
    max-width: 500px;
    height: fit-content;
    text-align: center;

    /* Border/background */
    border: 2px solid var(--darkest);
    border-radius: 12px;
    background-color: var(--highlightlight);
}
.option_info_container h3, .option_info_container p
{
    margin: 5px 0px;
}
.option_info_close_button
{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}


/* Game play screen */
#game_containter
{
    /* Positioning of contents */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.game_box
{
    /* Sizing */
    margin: 15px 25px;
    padding: 10px 20px;

    /* Border/Background */
    border: 4px solid var(--darkest);
    border-radius: 3px;
    background-color: var(--secondarylight);

    /* Shadow */
    box-shadow: 8px 8px 10px #0000006F;
}
#game_question
{
    /* Sizing of questio text */
    width: max-content
}
#game_options
{
    /* Positioning of options */
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* flex-basis: auto; */
    justify-content: center;
    align-items: center;
}
.game_option
{
    position: relative;
    align-self: center;
    text-align: center;

    /* Sizing options */
    /* flex-shrink: 1;
    flex-grow: 1;
    min-width: min-content; */
    width: 750px;
    min-height: 400px;
    margin: 40px;

    /* It's a link also! */
    cursor: pointer;
}
.game_option:hover
{
    /* Moves a little so intice you to click it? */
    left: 3px;
    bottom: 3px;
    background-color: var(--highlightlight);
}
.game_option:active
{
    /* Gives some feedback when clicking */
    left: 2px;
    bottom: 2px;
    background-color: var(--highlightcolor);
}
.game_option img
{
    /* Sizing */
    min-width: 200px;
    min-height: 200px;
    max-width: 450px;
    max-height: 375px;

    /* Border/Shadow */
    border: 4px solid var(--secondarycolor);
    border-radius: 5px;
}

/* Game play between-round popups */
.modal_backdrop
{
    /* Position & Sizing */
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;

    display: grid;
    align-content: center;

    /* Color of backdrop */
    background-color: var(--modaltransparent);
}
.modal_window
{
    /* Position & Sizing */
    width: 65vw;
    min-height: min-content;
    padding: 30px 50px;
    margin: auto;

    /* Border & background stuff */
    border: 3px solid var(--darkest);
    border-radius: 6px;
    background-color: var(--secondarylight);

    /* Content spacing */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    text-align: center;

    font-size: 1.65rem;
}
.modal_window p, .modal_window h2
{
    /* Text by default has some crazy margins. Looks horrible.*/
    margin: 10px 5px;
}
.choice_text_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.choice_text_block
{
    width: fit-content;
    padding: 5px 8px;
}
#choice_text
{
    /* Border/background */
    border: 2px solid var(--darkest);
    border-radius: 2px;
    background-color: var(--highlightlight);

    /* Shadow */
    box-shadow: 3px 3px 1px 1px var(--modaltransparent);
}
#level_success_text
{
    font-weight: bolder;
    text-shadow: 3px 3px var(--modaltransparent);
    font-size: 3.5rem;
}
.modal_hrule
{
    /* Visual styling for separation */
    width: 80%;
    color: var(--darkest);
    box-shadow: 2px 2px 1px 1px var(--modaltransparent);
    
    /* Physical separation */
    margin-top: 20px;
    margin-bottom: 30px;
}
#modal_category_premable
{
    font-style: italic;
    margin-bottom: 0px;
}
#modal_category_title
{
    margin-top: 0px;
    font-weight: bolder;
    text-shadow: 3px 3px var(--modaltransparent);
    font-size: 3.5rem;
}
#modal_category_text
{
    color: var(--highlightlight);
}
.accuracy_text
{
    padding: 3px 6px;

    /* Border/background */
    border: 2px solid var(--darkest);
    border-radius: 4px;
    background-color: var(--primarycolor);

    /* Shadow */
    box-shadow: 3px 3px var(--modaltransparent);
}
.modal_button
{
    cursor: pointer;
    position: relative;

    /* Sizing */
    width: fit-content;
    padding: 5px 10px;
    margin: 15px 20px;

    /* Text stuff */
    font-size: 2rem;
    color: var(--highlightlight);
    text-shadow: 3px 3px var(--primarydark);

    /* Border/background */
    border: 18px inset var(--primarycolor);
    background: var(--primarycolor);
}
.modal_button:hover
{
    border-style: outset; /* Switch up the border. Because it looks cool! */

    /* Move it a bit! */
    left: 4px;
    bottom: 4px;
}
.modal_button:active
{
    /* Tint it a bit. Or shade it technically */
    filter: brightness(0.8);

    /* Move it a bit inwards */
    left: 2px;
    bottom: 2px;
}

/* 404 page styling */
#page_404
{
    display: flex;
    justify-content: center;
}
#container_404
{
    /* Sizing */
    margin: 30px 15px;
    padding: 20px 30px;
    width: fit-content;
    height: fit-content;

    /* Background/border */
    border-radius: 5px;
    border: 3px solid var(--darkest);
    background-color: var(--primarydark);
}
#container_404>h2
{
    margin: 0px;
    text-align: center;
    font-size: 3.25rem;
    color: var(--primarylight)
}

.header_image_container img{
    max-width: 200px;
    max-height: auto;
}

.option_contents_image_container img{
    max-width: 100px;
    max-height: auto;
}
